# Cardano Network Configuration
# Options: preview/testnet
NEXT_PUBLIC_CARDANO_NETWORK=preview

# Blockfrost API 
NEXT_PUBLIC_BLOCKFROST_PROJECT_ID=previewx1eC8Jb6rSAmI1u8gOXepgk2vWbmANq5
NEXT_PUBLIC_BLOCKFROST_API_KEY=your_blockfrost_api_key_here

# LiteCert Backend API
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/

# Lite cert supabase configuration
 NEXT_PUBLIC_SUPABASE_URL=https://oiggtykitcopjgvrnxwb.supabase.co
 NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_imo3E1LjjWQ8zUK3wUmh6Q_OZSvd0FP

#NEXT_PUBLIC_SUPABASE_URL=https://pjcsrybbinlcuicxiutr.supabase.co

#NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_WFnDpzmOpLolVaAyZmTDEQ_6ppy_J3-

# Optional: Database connection (for production)
DATABASE_URL=postgresql://user:password@localhost:5432/litecert

# Optional: IPFS Configuration
IPFS_API_URL=https://ipfs.infura.io:5001
IPFS_GATEWAY=https://ipfs.io/ipfs/

# Pinata API Keys (for NFT image uploads)
# Get your API keys from https://pinata.cloud/
PINATA_API_KEY=your_pinata_api_key_here
PINATA_SECRET_API_KEY=your_pinata_secret_api_key_here
